.oYYFH {
  padding: 0 !important;
}

.MWDvN, .oYYFH > div {
  max-width: 100% !important;
}

._lz6s {
  border-bottom: 0 !important;
}
.trans {
  border-top: solid #6870632e;
  color: #0da5f9;
  font-size: 14px;
}
.r-jwli3a .trans {
  color: white;
}
