.oYYFH {
  padding: 0 !important;
}

.MWDvN, .oYYFH > div {
  max-width: 100% !important;
}

._lz6s {
  border-bottom: 0 !important;
}
.trans {
  border-top: solid #6870632e;
  color: #614e4e;
  font-size: 14px;
  padding: 6px 8px 6px 10px;
}
